<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="st-app/view.html">
<link rel="import" href="st-badges/view.html">
<link rel="import" href="st-footer/view.html">
<link rel="import" href="st-legend/view.html">
<link rel="import" href="st-legend-item/view.html">
<link rel="import" href="st-loading/view.html">
<link rel="import" href="st-page-home/view.html">
<link rel="import" href="st-page-leaderboard/view.html">
