<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<link rel="import" href="../bower_components/polymer/polymer.html">

<link href="../bower_components/app-route/app-route.html" rel="import">
<link href="../bower_components/app-route/app-location.html" rel="import">
<link href="../bower_components/iron-pages/iron-pages.html" rel="import">
<link href="../bower_components/iron-ajax/iron-ajax.html" rel="import">

<link href="../behaviors/sound-player.html" rel="import">
<link href="app-gamification/app-gamification.html" rel="import">
<link href="home/home.html" rel="import">
<link href="page-tabs/page-tabs.html" rel="import">
<link href="leader-board/leader-board.html" rel="import">
<link href="badge-list/badge-list.html" rel="import">
<link href="badges-board/badges-board.html" rel="import">
<link href="user-card/user-card.html" rel="import">
<link href="page-legend/page-legend.html" rel="import">
<link href="loading-page/loading-page.html" rel="import">