#pointList {
    border: solid 1px #424140;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    padding: 0 0 5px 0;
}

#pointList .item {
    display: block;
    padding: 5px 20px 5px 10px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

#pointList .item:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.2);
}

#pointList .item .position {
    float: left;
    line-height: 1.5em;
    margin-right: 10px;
    min-width: 45px;
    text-align: right;
    color: #fff;
    font-weight: normal;
}

#pointList .item .profilePic {
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#pointList .item .person {
    float: left;
    margin: 0 10px 0 0;
}

#pointList .item .person strong {
    font-size: 25px;
    font-weight: normal;
    text-transform: lowercase;
}

#pointList .item .person strong, #pointList .item .person span {
    display: block;
    line-height: 1em;
}

#pointList .item .person span {
    font-size: 17px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    padding-top: 4px;
    font-weight: bold;
}

#pointList .item .points {
    float: right;
    font-size: 25px;
    line-height: 1.1em;
    margin-left: 15px;
    min-width: 65px;
    text-align: right;
}

#pointList .item:nth-child(n+2) .points .text {
    display: none;
}

#pointList .item badge-list {
    float: right;
}

@media (max-width: 1000px) {
    #pointList .item badge-list {
        float: none;
        clear: both;
        text-align: right;
    }

    #pointList .item badge-list li {
        text-align: left;
    }
}

@media (min-width: 1001px) {
    #pointList .item:nth-child(1) {
        border-bottom: solid 3px #424140;
        padding: 10px 0;
        margin-bottom: 5px;
    }

    #pointList .item:nth-child(1) .position {
        font-size: 72px;
        line-height: 0.9em;
        margin: 0 10px 0 20px;
        position: relative;
        padding-right: 20px;
    }

    #pointList .item:nth-child(1) .position:after {
        content: " ";
        position: absolute;
        top: 12px;
        right: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: solid 6px white;
        border-radius: 50%;
    }

    #pointList .item:nth-child(n+2) .position:after {
        content: ". ";
    }

    #pointList .item:nth-child(n+2) .points  {
        line-height: 2.4em;
    }

    #pointList .item:nth-child(1) .profilePic {
        width: 75px;
        height: 75px;
    }

    #pointList .item:nth-child(1) .person {
        padding-top: 5px;
        margin-left: 10px;
    }

    #pointList .item:nth-child(1) .person strong {
        font-size: 35px;
    }

    #pointList .item:nth-child(1) .person span {
        font-size: 25px;
    }

    #pointList .item:nth-child(1) .points {
        font-size: 72px;
        margin-right: 20px;
    }

    #pointList .item:nth-child(1) .points .text {
        display: block;
        font-size: 19px;
        color: #fff;
        margin-right: 12px;
        margin-bottom: -1.4em;
    }

    #pointList .item:nth-child(1) badge-list {
        float: left;
        clear: both;
        margin-left: 64px;
        zoom: 1.6;
        text-align: left;
    }
}