<dom-module id="leader-board">
    <link rel="import" type="css" href="leader-board.css">
    <template>
        <iron-ajax
                auto
                url="[[backendUrl]]"
                handle-as="json"
                on-response="handleResponse"
                debounce-duration="300">
        </iron-ajax>

        <div class="row">
            <div class="g-12 column ntp">
                <div class="startWraScrollPanel">

                    <section id="pointList">
                        <template is="dom-repeat" items="{{users}}" as="user">
                            <article class="item clearfix">
                                <span class="position">[[getPosition(index) ]]</span>
                                <p class="person">
                                    <strong>[[user.name]]</strong>
                                    <span>[[user.lastName]]</span>
                                </p>
                        <span class="points">[[user.coins]]
                            <span class="text">points</span>
                         </span>
                                <badge-list badges=[[user.badges]]></badge-list>

                            </article>
                        </template>
                    </section>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'leader-board',
            properties: {
                backendUrl: String,
                users: {type: Array, value: []}
            },

            ready: function() {

            },
            handleResponse: function(response) {
                this.users = response.detail.response;
            },
            getPosition: function(index) {
                return index + 1;
            }

        });
    </script>
</dom-module>