<dom-module id="badge-list">
    <link rel="import" type="css" href="badge-list.css">
    <template>
        <ul class="badges badgesList">
            <template is="dom-repeat" items="{{badges}}" as="badge">
                <template is="dom-repeat" items="{{badge.categories}}" as="category">
                    <li class$="badgeType [[generateClass(badge.level)]] [[generateClass(category)]]" title="[[category]] [[badge.level]]"></li>
                </template>
            </template>
        </ul>
    </template>
    <script>
        Polymer({
            is: 'badge-list',
            properties: {
                badges: Array,
                iconColor: {type: String, value: 'gray'}
            },

            ready: function() {

            },
            generateClass: function(name) {
                return name.toLowerCase();
            }

        });
    </script>
</dom-module>
