<dom-module id="loading-page">

    <link rel="import" type="css" href="loading-page.css">
    <template>
        <template is="dom-if" if="{{show}}">
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'loading-page',
            properties: {
                show: Boolean
            },

            ready: function () {

            }
        });
    </script>
</dom-module>