<dom-module id="st-footer">
   <link rel="import" type="css" href="styles.css">

   <template>
      <img class="gif" src="../../img/gifs/bulbasur.gif" />
      <img class="gif" src="../../img/gifs/charmander.gif" />
      <img class="gif" src="../../img/gifs/gastly.gif" />
      <img class="gif" src="../../img/gifs/jigglypuff.gif" />
      <img class="gif" src="../../img/gifs/pikachu.gif" />
      <img class="gif" src="../../img/gifs/snorlax.gif" />
      <img class="gif" src="../../img/gifs/squirtle.gif" />
      <img class="gif" src="../../img/gifs/zubat.gif" />
   </template>

   <script src="controller.js"></script>
</dom-module>
