<dom-module id="page-legend">
    <link rel="import" type="css" href="page-legend.css">
    <template>
        <div class="legend">
            <div id="pageLegendContent" class="legendContent hide">
                <div class="insideContent">
                    <h1>Welcome to the Olympiads</h1>
                    <p>The Olympiads have two main objectives: harnessing your talent and strengthening our presence in
                        social media. The knowledge of employees is channeled through seminars, training, meetups,
                        organizing events, posts, etc. Moreover, in order to position ourselves, all the training
                        material is shared in the corporate blog and social networking.</p>

                    <h3>Badge Level Ranking</h3>
                    <p>In chronological order, with more soon to be unblocked! </p>
                    <ul id="legendBadges" class="badges badgesIconItems badges_types_characters">

                        <li class="hoplite">
                            <div class="iconWrap">

                                <strong>Hoplite</strong>

                            </div>

                        </li>

                        <li class="strategist">
                            <div class="iconWrap">

                                <strong>Strategist</strong>

                            </div>

                        </li>

                        <li class="king">
                            <div class="iconWrap">

                                <strong>King</strong>

                            </div>

                        </li>

                        <li class="demigod">
                            <div class="iconWrap">

                                <strong>Demigod</strong>

                            </div>

                        </li>

                    </ul>
                    <h3>Categories</h3>
                    <p>
                        Depending on the activities carried out by the players, the badges to be granted will be
                        different:
                    </p>
                    <ul id="legendBadgesTypes" class="badges badgesIconItems badges_types badges_types_icon clearfix">


                        <li class="apostle">
                            <div class="iconWrap">

                            </div>

                            <div class="desc">
                                <strong>Apostle</strong>
                                <p>Interactions in social networks. Retweets and favorites on Twitter and LinkedIn
                                    recommendations. For every 5 interactions (shares) you earn one coin.
                                </p>
                            </div>

                        </li>

                        <li class="academic">
                            <div class="iconWrap">

                            </div>

                            <div class="desc">
                                <strong>Academic</strong>
                                <p>Acknowledgement to the players who obtain certifications related with their
                                    specialty. For each certification you earn 50 coins.
                                </p>
                            </div>

                        </li>

                        <li class="athlete">
                            <div class="iconWrap">

                            </div>

                            <div class="desc">
                                <strong>Athlete</strong>
                                <p>An award for all the players who organize playful events that encourage the
                                    participation of any member of Stratio. This category can earn you 100 coins.
                                </p>
                            </div>
                        </li>

                        <li class="pedagogue">
                            <div class="iconWrap">

                            </div>

                            <div class="desc">
                                <strong>Pedagogue</strong>
                                <p>If you participate in an external event as a speaker, you earn 200 coins, If you give
                                    training you earn 50 coins and for each meetup you earn 100 coins. This way we
                                    Foster branding and share our knowledge.
                                </p>
                            </div>

                        </li>

                        <li class="typographist">
                            <div class="iconWrap">

                            </div>

                            <div class="desc">
                                <strong>Typographist</strong>
                                <p>Badge given to everyone who publishes relevant content on our corporate blog. You
                                    earn 50 coins per post.
                                </p>
                            </div>

                        </li>

                        <li class="periscoper">
                            <div class="iconWrap">

                            </div>

                            <div class="desc">
                                <strong>Periscoper</strong>
                                <p>This is the award for the sum of all the traffic derived for the content published.
                                    As of 300 views you can earn 50 coins.
                                </p>
                            </div>

                        </li>


                        <li class="mentor">
                            <div class="iconWrap">

                            </div>

                            <div class="desc">
                                <strong>Mentor</strong>
                                <p>We award attracting talent for the company by either referencing potential employees
                                    for an interview, and when they join the company. For each candidate interviewed you
                                    earn 10 coins. For each candidate that incorporates you earn 100 coins, and if they
                                    remain with us after 6 months the total goes to 500 coins.
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <button class="toggleLegend" on-click="toggleLegend">view legend</button>

        </div>
    </template>
    <script>
        Polymer({
            is: 'page-legend',
            properties: {
                user: Object
            },

            ready: function () {
                this.showLegend = false;
                this.badges = [{level: "king", categories: [], label: "King"}, {
                    level: "hoplite",
                    categories: [],
                    label: "Hoplite"
                }, {level: "strategist", categories: [], label: "Strategist"}, {
                    level: "demigod",
                    categories: [],
                    label: "Demigod"
                }];

            },
            toggleLegend: function (event) {
                this.showLegend = !this.showLegend;
                var legendPanel = this.$.pageLegendContent;
                if (this.showLegend) {
                    legendPanel.classList.remove('hide');
                    legendPanel.classList.add('show');
                } else {
                    legendPanel.classList.remove('show');
                    legendPanel.classList.add('hide');
                }
            }
        });
    </script>
</dom-module>