<dom-module id="page-legend">
    <link rel="import" type="css" href="page-legend.css">
    <template>
        <div class="legend">
            <div id="pageLegendContent" class="legendContent hide">
                <div class="insideContent">
                    <h1>Welcome to the Pokemon League</h1>
                    <p>The Pokemon League has two main objectives: harnessing your talent and strengthening our presence in
                        social media. The knowledge of employees is channeled through seminars, training, meetups,
                        organizing events, posts, etc. Moreover, in order to position ourselves, all the training
                        material is shared in the corporate blog and social networking.</p>

                    <h3>Types</h3>
                    <p>
                        Depending on the activities carried out by the players, the badges to be granted will be
                        different:
                    </p>
                    <ul id="legendBadgesTypes" class="badges badgesIconItems badges_types badges_types_icon clearfix">


                       <li class="water">
                          <div class="iconWrap">
                             <img src="../../img/icons/water.png" />
                          </div>

                          <div class="desc">
                             <strong>Water</strong>
                             <p>If you participate in an external event as a speaker, you earn 200 XP, If you give
                                training you earn 50 XP and for each meetup you earn 100 XP. This way we
                                Foster branding and share our knowledge.
                             </p>
                             <img src="../../img/legend/water.png" />
                          </div>

                       </li>

                       <li class="plant">
                          <div class="iconWrap">
                             <img src="../../img/icons/plant.png" />
                          </div>

                          <div class="desc">
                             <strong>Plant</strong>
                             <p>Acknowledgement to the players who obtain certifications related with their
                                specialty. For each certification you earn 50 XP.
                             </p>
                             <img src="../../img/legend/plant.png" />
                          </div>
                       </li>

                       <li class="fire">
                          <div class="iconWrap">
                             <img src="../../img/icons/fire.png" />
                          </div>

                          <div class="desc">
                             <strong>Fire</strong>
                             <p>Badge given to everyone who publishes relevant content on our corporate blog. You
                                earn 50 XP per post.
                             </p>
                             <img src="../../img/legend/fire.png" />
                          </div>
                       </li>

                        <li class="rock">
                            <div class="iconWrap">
                               <img src="../../img/icons/rock.png" />
                            </div>

                            <div class="desc">
                                <strong>Rock</strong>
                                <p>Interactions in social networks. Retweets and favorites on Twitter and LinkedIn
                                    recommendations. For every 5 interactions (shares) you earn one coin.
                                </p>
                                <img src="../../img/legend/rock.png" />
                            </div>
                        </li>

                        <li class="ground">
                           <div class="iconWrap">
                              <img src="../../img/icons/ground.png" />
                           </div>

                           <div class="desc">
                              <strong>Ground</strong>
                              <p>We award attracting talent for the company by either referencing potential employees
                                 for an interview, and when they join the company. For each candidate interviewed you
                                 earn 10 XP. For each candidate that incorporates you earn 100 XP, and if they
                                 remain with us after 6 months the total goes to 500 XP.
                              </p>
                              <img src="../../img/legend/ground.png" />
                           </div>

                        </li>

                        <li class="electric">
                            <div class="iconWrap">
                               <img src="../../img/icons/electric.png" />
                            </div>

                            <div class="desc">
                                <strong>Electric</strong>
                                <p>An award for all the players who organize playful events that encourage the
                                    participation of any member of Stratio. This category can earn you 100 XP.
                                </p>
                                <img src="../../img/legend/electric.png" />
                            </div>
                        </li>

                        <li class="dragon">
                            <div class="iconWrap">
                               <img src="../../img/icons/dragon.png" />
                            </div>

                            <div class="desc">
                                <strong>Dragon</strong>
                                <p>This is the award for the sum of all the traffic derived for the content published.
                                    As of 300 views you can earn 50 XP.
                                </p>
                                <img src="../../img/legend/dragon.png" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="toggleLegend" on-click="toggleLegend">view legend</button>

        </div>
    </template>
    <script>
        Polymer({
            is: 'page-legend',
            properties: {
                user: Object
            },

            ready: function () {
                this.showLegend = false;
                this.badges = [{level: "king", categories: [], label: "King"}, {
                    level: "hoplite",
                    categories: [],
                    label: "Hoplite"
                }, {level: "strategist", categories: [], label: "Strategist"}, {
                    level: "demigod",
                    categories: [],
                    label: "Demigod"
                }];

            },
            toggleLegend: function (event) {
                this.showLegend = !this.showLegend;
                var legendPanel = this.$.pageLegendContent;
                if (this.showLegend) {
                    legendPanel.classList.remove('hide');
                    legendPanel.classList.add('show');
                } else {
                    legendPanel.classList.remove('show');
                    legendPanel.classList.add('hide');
                }
            }
        });
    </script>
</dom-module>
