.extraInfo {
    display: block;
    position: absolute;
    z-index: 9;
    background: #424140;
    border: solid 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 46px 10px 0 46px;
    left: auto;
}

/*.extraInfo {*/
    /*min-width: 300px; }*/
/*.extraInfo .profilePic {*/
    /*width: 75px;*/
    /*height: 75px;*/
    /*float: left;*/
    /*margin: 10px; }*/
/*.extraInfo .cardInfo {*/
    /*margin-left: 100px;*/
    /*padding-top: 5px; }*/
/*.extraInfo .cardInfo p {*/
    /*margin: 0; }*/
/*.extraInfo .cardInfo .fullName {*/
    /*padding-right: 10px;*/
    /*font-family: 'Droid Sans';*/
    /*text-transform: uppercase; }*/
 /*.extraInfo .cardInfo .points {*/
    /*line-height: 1em;*/
    /*font-family: 'star_jediregular';*/
    /*font-size: 40px;*/
    /*position: absolute;*/
    /*right: -1px;*/
    /*bottom: -50px;*/
    /*background: red;*/
    /*line-height: 40px;*/
    /*padding: 0 10px;*/
    /*height: 50px;*/
    /*border-radius: 0 0 10px 10px;*/
    /*background: #01273C;*/
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    /*border-top-width: 0; }*/
 /*.extraInfo .cardInfo .badges {*/
    /*margin-right: 15px; }*/

 /*.extraInfo .profilePic {*/
    /*width: 75px;*/
    /*height: 75px;*/
    /*float: left;*/
    /*margin: 10px;*/
/*}*/
/*.profilePic {*/
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);*/
    /*width: 39px;*/
    /*height: 39px;*/
/*}*/

/*.extraInfo .cardInfo {*/
    /*margin-left: 100px;*/
    /*padding-top: 5px;*/
/*}*/

.extraInfo {
    min-width: 300px;
    margin-top: -48px;
    margin-left: 10px;
}




.extraInfo {
    min-width: 300px; }
 .extraInfo .profilePic {
    width: 75px;
    height: 75px;
    float: left;
    margin: 10px; }
 .extraInfo .cardInfo {
    margin-left: 100px;
    padding-top: 5px; }
 .extraInfo .cardInfo p {
    margin: 0; }
.extraInfo .cardInfo .fullName {
    padding-right: 10px;
    font-family: 'Open Sans';
    text-transform: uppercase; }
.extraInfo .cardInfo .points {
    line-height: 1em;
    font-family: 'lithosproblack';
    font-size: 40px;
    position: absolute;
    right: -1px;
    bottom: -50px;
    background: red;
    line-height: 40px;
    padding: 0 10px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    background: #424140;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-top-width: 0; }
 .extraInfo .cardInfo .badges {
    margin-right: 15px; }