<dom-module id="home-page">
    <link rel="import" type="css" href="home.css">
    <template>
        <div class="container" id="homeLayout">
            <div class="row nm">
                <div class="g-12 column">

                    <div class="homeLayoutMode clearfix">
                        <article>
                            <a on-mouseover = "playSound" sound-name = 'swordSound'  href="/#/leaderboard" class="list">Leaderboard</a>
                        </article>
                        <article>
                            <a on-mouseover = "playSound"  sound-name='thunderSound' href="/#/badgesboard" class="board">Badgesboard</a>
                        </article>
                    </div>
                    <div class="spartanGifsWrap">

                        <div id="spartanGifs_a" class="spartanGifs">
                            <div class="icon spartan"></div>
                        </div>
                        <div id="spartanGifs_b" class="spartanGifs">
                            <div class="icon spartan"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <audio id="swordSound" controls preload="auto" class="hidden">
            <source src="../../audio/sword.mp3" controls/>
            <source src="../../audio/sword.ogg" controls/>
        </audio>
        <audio id="thunderSound" controls preload="auto" class="hidden">
            <source src="../../audio/thunder.mp3" controls/>
            <source src="../../audio/thunder.ogg" controls/>
        </audio>

    </template>
    <script>
        Polymer({
            is: 'home-page',
            behaviors: [SoundPlayer],
            properties: {
                badges: Array
            },

            ready: function() {

            }
        });
    </script>
</dom-module>