<dom-module id="badges-board">
    <link rel="import" type="css" href="badges-board.css">
    <link href="../loading-page/loading-page.html" rel="import">
    <template>
        <iron-ajax
                auto
                url="[[backendUrl]]"
                handle-as="json"
                on-response="handleResponse"
                debounce-duration="300">
        </iron-ajax>

            <loading-page show = "{{showLoadingPage}}"></loading-page>

        <div id="boardHeaderWrap">
            <ul id="boardHeader" class="badgesIconItems badges_types_icon">
                <template is="dom-repeat" items="{{categories}}" as="category">
                    <li id="[[generateClass(category)]]" class="[[generateClass(category)]]">
                        <div class="iconWrap">
                            <strong>[[category]]</strong>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
        <div id="boardBadgeRow">
            <template is="dom-repeat" items="{{badgesboard.levels}}" as="level">
                <div class="boardBadgeRowItem">
                    <div class="rowTitle badgesIconItems">
                        <div id="[[level]]" class="[[level]]">
                            <div class="iconWrap">
                                <strong>[[level]]</strong>
                            </div>
                        </div>
                    </div>
                    <div class="listWrap">
                        <ul class="boardBadgeRowItemList">
                            <template is="dom-repeat" id="categoryRepeat" items="{{categories}}" as="category">

                                <li id="[[category]]" class$="boardBadgeRowTypes [[category]]">
                                    <template is="dom-repeat" items="{{getUsersInLevelAndCategory(level,category)}}"
                                              as="user">

                                        <div class$="[[level]] user" on-mouseover="onHoveredUser"
                                             on-mouseout="onUnhovered">
                                            <img class="profilePic"
                                                 src="{{photoUrl}}/[[user.photo]]">
                                            <p class="microName">
                                                <span class="db">[[user.name]] </span>
                                                <span class="db">[[user.lastName]]</span>
                                            </p>

                                            <user-card user="[[user]]" class="hidden" photo-url = "{{photoUrl}}"
                                                       orientation="{{getOrientation(category)}}">
                                            </user-card>
                                        </div>

                                    </template>

                                </li>

                            </template>

                        </ul>
                    </div>
                </div>

            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'badges-board',
            properties: {
                backendUrl: String,
                photoUrl: String,
                users: {type: Array, value: []}
            },

            ready: function () {
                this.showLoadingPage = true;
            },
            handleResponse: function (response) {
                this.badgesboard = response.detail.response;
                this.categories = this.badgesboard.categories;
                this.showLoadingPage = false;
            },
            getPosition: function (index) {
                return index + 1;
            },
            generateClass: function (name) {
                return name.toLowerCase();
            },
            getUsersInLevelAndCategory(level, category){
                return this.badgesboard[level][category];
            },
            onHoveredUser: function (event) {
                var userCard = Polymer.dom(event.model._nodes[3]);
                userCard.classList.remove('hidden');
            },
            onUnhovered: function (event) {
                Polymer.dom(event.model._nodes[3]).classList.add('hidden');
            },
            getOrientation: function (category) {
                var categoryPosition = this.categories.indexOf(category);
                var orientation = 'right';
                if (categoryPosition == this.categories.length - 1)
                    orientation = 'left';
                return orientation;
            }
        });
    </script>
</dom-module>