<dom-module id="app-gamification">
    <link rel="import" type="css" href="app-gamification.css">
    <template>
        <iron-ajax
                auto
                url="/config/config.json"
                handle-as="json"
                on-response="handleConfigResponse"
                debounce-duration="300">
        </iron-ajax>
        <app-location route="{{route}}" use-hash-as-path></app-location>

        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{data}}"
                tail="{{tail}}"
                active="{{activePage}}">
        </app-route>

        <div class="container">

            <div class="row nm">
                <div class="g-12 column nbp">
                    <h2 class="appLogo"><a href="/#/home" on-mouseover="playSound" sound-name='harpSound'>War Games
                        Board</a></h2>
                    <page-tabs current-page-id="{{data.page}}" tabs="{{tabs}}"
                               hidden$="{{!showTabSwitcher}}"></page-tabs>
                    <page-legend></page-legend>
                </div>
            </div>
            <iron-pages attr-for-selected="id" selected="{{data.page}}">
                <home-page id="home"></home-page>
                <leader-board id="leaderboard" backend-url='{{leaderBoardUrl}}' photo-url="{{apiUrl}}/players"></leader-board>
                <badges-board id="badgesboard" backend-url='{{badgesBoardUrl}}' photo-url="{{apiUrl}}/players"></badges-board>
            </iron-pages>
        </div>
        <audio id="harpSound" controls preload="auto" class="hidden">
            <source src="../../audio/harp.mp3" controls/>
            <source src="../../audio/harp.ogg" controls/>
        </audio>
    </template>

    <script>
        Polymer({
            is: 'app-gamification',
            behaviors: [SoundPlayer],
            properties: {tabs: Array, showTabSwitcher: Boolean},
            observers: [
                '_onRoutePathChanged(route.path)'
            ],
            ready: function () {
                this.tabs = [{id: "leaderboard", href: "/#/leaderboard", label: "Leaderboard"}, {
                    id: "badgesboard",
                    href: "/#/badgesboard",
                    label: "Badgesboard"
                }];

                this.showTabSwitcher = false;
            },
            _isInvalidRoute: function () {
                var valid = false;
                var i = 0;
                if (this.tabs) {
                    while (!valid && i < this.tabs.length) {

                        if (this.data.page == this.tabs[i].id) {
                            valid = true;
                        }

                        ++i;
                    }
                }

                return !valid;
            },
            _onRoutePathChanged: function (path) {
                if (!path || this._isInvalidRoute()) {
                    this.set('route.path', '/home');
                }
                this.showTabSwitcher = (this.route.path != "/home");
            },
            handleConfigResponse: function (response) {
                var apiConfig = response.detail.response.api;

                this.apiUrl = apiConfig.protocol + "://" + apiConfig.ip;
                this.leaderBoardUrl = this.apiUrl + "/leaderboard";
                this.badgesBoardUrl = this.apiUrl + "/badgesboard";
            }

        });
    </script>
</dom-module>