.appLogo {
    background: url('../../img/logo.png') no-repeat center center;
    width: 256px;
    height: 172px;
    text-indent: -9000px;
    background-size: 100%;
    margin: 0;
    margin-bottom: -30px;
}
.appLogo.ac {
     margin: 0 auto;
 }

.appLogo a {
    display: block;
    height: 100px;
}
